<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link pull-right" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
    <a href="mailto:lalit.onclick@gmail.com" target="_top"
      >Made with &#10084; by Lalit Mohan</a
    >
  </p>
</div>
